* {
    font-family: "Noto Sans", sans-serif;
    font-size: 13px;
}

window#waybar {
    background: rgba(0,0,0,0.8);
    color: #ffffff;
}

#workspaces button {
    padding: 0 8px;
    color: #888888;
}

#workspaces button.active {
    color: #33ccff;
}

#clock, #cpu, #memory, #temperature, #battery, #backlight {
    padding: 0 10px;
    color: #ffffff;
}

#temperature.critical {
    color: #ff0000;
}

#battery.critical {
    color: #ff0000;
}

#battery.charging {
    color: #00ff00;
}

#backlight {
    color: #ffff00;
}
